@tailwind base;
@tailwind components;
@tailwind utilities;




@keyframes flipIn {
  from {
    transform: rotateX(-90deg);
    opacity: 0;
  }
  to {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

.flip {
  animation: flipIn 0.8s ease forwards;
}

.bg-white-text {
  color: black; /* Black text for white background */
}

.bg-green-500-text {
  color: white; /* White text for green background */
}

.bg-yellow-500-text {
  color: white; /* White text for yellow background */
}

.bg-gray-500-text {
  color: white; /* White text for gray background */
}


.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}
